In [22]:
import pandas as pd
import pyEX as p
c = p.Client(api_token="pk_353fe2ce67cd4c16b30a748ff783c865", version="v1")

In [2]:
def ROE(stocks):
    
    import pyEX as p
    c = p.Client(api_token="pk_353fe2ce67cd4c16b30a748ff783c865", version="v1")
    incomeStatement = c.incomeStatementDF(stocks)
    balanceSheet = c.balanceSheetDF(stocks)
    cfStatement = c.cashFlowDF(stocks)
    stats = c.keyStats(stocks)
    
    NI = incomeStatement['netIncome'][0]
    SE = balanceSheet['shareholderEquity'][0]
    
    return (NI/SE)*100

In [3]:
from yahoo_fin.stock_info import *
bl = get_balance_sheet('AAPL').transpose()
bl

Breakdown,totalLiab,totalStockholderEquity,otherCurrentLiab,totalAssets,commonStock,otherCurrentAssets,retainedEarnings,otherLiab,treasuryStock,otherAssets,...,otherStockholderEquity,propertyPlantEquipment,totalCurrentAssets,longTermInvestments,netTangibleAssets,shortTermInvestments,netReceivables,longTermDebt,inventory,accountsPayable
endDate,,,,,,,,,,,,,,,,,,,,,
2021-09-25,287912000000,63090000000,53577000000,351002000000,57365000000,14111000000,5562000000,43050000000,163000000,38762000000,...,163000000,49527000000,134836000000,127877000000,63090000000,27699000000,51506000000,109106000000,6580000000,54763000000
2020-09-26,258549000000,65339000000,47867000000,323888000000,50779000000,11264000000,14966000000,46108000000,-406000000,33952000000,...,-406000000,45336000000,143713000000,100887000000,65339000000,52927000000,37445000000,98667000000,4061000000,42296000000
2019-09-28,248028000000,90488000000,43242000000,338516000000,45174000000,12352000000,45898000000,50503000000,-584000000,32978000000,...,-584000000,37378000000,162819000000,105341000000,90488000000,51713000000,45804000000,91807000000,4106000000,46236000000
2018-09-29,258578000000,107147000000,39293000000,365725000000,40201000000,12087000000,70400000000,48914000000,-3454000000,22283000000,...,-3454000000,41304000000,131339000000,170799000000,107147000000,40388000000,48995000000,93735000000,3956000000,55888000000

In [49]:
list = ['AAPL','V','BABA','FB']
company=[]
return_on_equity=[]
for stocks in list:
    company.append(stocks)
    return_on_equity.append(ROE(stocks))
pd.DataFrame({'Companies':company,'ROE':return_on_equity})

  Companies        ROE
0      AAPL  48.142690
1         V  10.938277
2      BABA   2.074206
3        FB   8.235972